.post-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.post-input {
  width: 320px;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
